{{!-- expects each restaurant object to have the following keys:
    .name STRING
    .imgName STRING (filename for image, based on cuisine type)

    .ratingCheck BOOLEAN (false if not yet rated)
    .rating1 BOOLEAN
    .rating2 BOOLEAN
    .rating3 BOOLEAN
        only one rating# value should be true; if all false, ratingCheck should also be false
 --}}
<section class="sidebar">
    {{#if loggedIn}}
    <p>Click on a restaurant to see its details and add/change its rating.</p>
    <h2>More Options</h2>
    <a class="sidebar-link" href="/add">Add A Restaurant</a>
    {{!-- <button class="sidebar-btn" id="update-user">Change My Password</button> --}}
    <button class="sidebar-btn" id="logout">Log Out</button>
    {{else}}
    <div>
        <h2>Sign Up</h2>
        <form class="signup-form">
            <div>
                <label for="username-signup">Username:</label>
                <input type="text" id="username-signup" />
            </div>
            <div>
                <label for="password-signup">Password:</label>
                <input type="password" id="password-signup" />
            </div>
            <div>
                <button type="submit" class="sidebar-form-btn" id="signup-btn">Sign Up</button>
            </div>
        </form>
    </div>
    <div>
        <h2>Log In</h2>
        <form class="login-form">
            <div>
                <label for="username-login">Username:</label>
                <input type="text" id="username-login" />
            </div>
            <div>
                <label for="password-login">Password:</label>
                <input type="password" id="password-login" />
            </div>
            <div>
                <button type="submit" class="sidebar-form-btn" id="login-btn">Log In</button>
            </div>
        </form>
    </div>
    {{/if}}
</section>
<main>
    {{#if loggedIn}}
    <h2>
        My To-Dine List
    </h2>
    <div class="filter">
        {{!-- add filter code here --}}
    </div>
    <div class="restaurant-list">
        {{#each restaurants as |restaurant|}}
        <div class="restaurant-card">
        {{!-- will need to add CSS to make div.restaurant change on hover so it's clearly a link --}}
            <h3>{{restaurant.name}}</h3>
            <img src="/images/{{restaurant.cuisine.cuisine-image}}" class="restaurant-card-img" alt="">
            {{!-- if statements check which rating text to display --}}
            {{#if ratingCheck}}
            {{#if rating1}}<p><ion-icon name="star"></ion-icon> <ion-icon name="star-outline"></ion-icon> <ion-icon name="star-outline"></ion-icon></p>{{/if}}
            {{#if rating2}}<p><ion-icon name="star"></ion-icon> <ion-icon name="star"></ion-icon> <ion-icon name="star-outline"></ion-icon></p>{{/if}}
            {{#if rating3}}<p><ion-icon name="star"></ion-icon> <ion-icon name="star"></ion-icon> <ion-icon name="star"></ion-icon></p>{{/if}}
            {{else}}
            <p>I haven't rated this restaurant</p>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{else}}
    <p>What was the name of that restaurant your friend has been telling you to try? And did
        you try the new sushi place a couple weeks ago or the one across town?</p>

    <p>You’ve got enough on your plate already. Let us keep track of your restaurant list so
        you can just worry about what you’re going to order.</p>

    <p>Make a To-Dine List and filter it by cuisine when you need help deciding where to go.
        Once you’ve visited a restaurant, give it a rating so you know to go back.</p>

    <p class="red-text">Create an account or log in to get started.</p>
    {{/if}}
</main>
{{!-- no need to add script for logout.js here, since it's conditionally added on main.handlebars --}}
<script src="/js/create.js"></script>
<script src="/js/update-user.js"></script>
{{!-- need to add script to edit restaurant when clicked --}}